= form_for @project do |f|
  - f.labeled_input :git_url do
    = f.label :git_url, "Location", class: "hide"
    .input
      = f.text_field :git_url, placeholder: "Git URL"
      = link_to "Fetch", "#", id: "fetch-git-link", class: "btn"
      = image_tag "busy.gif", id: "fetch-loading", class: "hide"
      = image_tag "passed.png", id: "fetch-success", class: "hide"
      = image_tag "failed.png", id: "fetch-error", class: "hide"

  #fetched-project-fields
    - if @project.branches.any?
      - f.labeled_input :name do
        = f.label :name, class: "hide"
        .input
          = f.text_field :name, placeholder: "Name"

      = f.label "Branches"
      %ul.branches
        %li
          - f.labeled_input :test_all_branches do
            .input.checkbox-btn
              = f.check_box :test_all_branches
            = f.label :test_all_branches, class: "checkbox-style1"
            .clear
            %span.help-block New branches will automatically be built
        = f.fields_for :branches do |branch_f|
          = branch_f.hidden_field :name
          %li.branch{class: @project.test_all_branches? ? "hide" : ""}
            - branch_f.labeled_input :active do
              .input.checkbox-btn
                = branch_f.check_box :active
              = branch_f.label :active, branch_f.object.name, class: "checkbox-style1"


      - f.labeled_input :recentizer do
        .input.checkbox-btn
          = f.check_box :recentizer
        = f.label :recentizer, class: "checkbox-style1"
        .clear
        %span.help-block Only process most recent build (Recentizer&#153; 3000 Pro)
      - f.labeled_input :build_at_midnight do
        .input.checkbox-btn
          = f.check_box :build_nightly
        = f.label :build_nightly, class: "checkbox-style1"
        .clear
        %span.help-block Build every night at 1:00 regardless of activity
      - f.labeled_input :public do
        .input.checkbox-btn
          = f.check_box :public
        = f.label :public, :class => "checkbox-style1"
        .clear
        %span.help-block Make this project publicly visible

      .input
        = f.submit "Save", class: "btn"
